#header {
    display:flex;
    flex-direction: row;
    justify-content: center;

    background-color: #6ebbff;
    color: white;
    font-size: 36px;
    width: 100%;
    padding: 20px;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica, Helvetica Neue, Arial, sans-serif;
    font-weight: bold;
}

#homeLink {
    color: inherit;
}
#homeLink:hover, #homeLink:active, #homeLink:focus {
    text-decoration: none;
}

.headerItem {
    font-family: inherit;
}