#workoutBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}

.workoutItem {
    padding: 20px;
    width: 200px;
    background-color: white;
    border-radius: 5px;
    border: 5px solid #6ebbff;
    margin: 10px;
    color: #333;
    flex-grow: 1;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.workoutButtons {
    width: 100%;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.workoutButtons * {
    padding: 0px;
    padding-bottom: 0;
    border-radius: 5px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workoutButtons:first-child {
    color: green;
}
.workoutButtons:last-child {
    padding-right: 0;
}

#nameInput {
    width: 100%;
}


#createWrapper {
    display: flex;
    justify-content: stretch;
}

#createButton {
    margin: 7px;
    margin-right: 0;
}