#time-rep-selector input {
    background: white;
    color: black;
    border-color: grey;
}

.disabled {
    pointer-events: none
}

#time-rep-selector input:hover {
    background: #ddd;
    color: black;
    border-color: grey;
}

.length-group input {
    padding: 20px;
}

.length-group {
    margin-bottom: 20px;
}

.inputRow {
    display:flex;
}

.inputColumn {
    flex: 50%;
    margin: 2%;
}

#time-rep-selector input.selected {
    background-color: #6ebbff;
    color: white;
}

#endRepeatButton {
    margin-left: 20px;
}